Solution/Covid19/Covid19.ConsoleApp/bin
Solution/Covid19/Covid19.ConsoleApp/obj
Solution/Covid19/Covid19.Library/bin
Solution/Covid19/Covid19.Library/obj
Solution/Covid19/Covid19.ConsoleApp/log
Solution/Covid19/.vs
Solution/Covid19/Console/obj
*.user
*.suo
